<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="company_listing_data_source" xsi:type="string">Magezil\Company\Model\ResourceModel\Company\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magezil\Company\Model\ResourceModel\Company\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">company_entity</argument>
            <argument name="resourceModel" xsi:type="string">Magezil\Company\Model\ResourceModel\Company</argument>
        </arguments>
    </virtualType>
</config>
